* {
    box-sizing: border-box; /* includes padding in 100% width */
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #1A1A1A;
	color: #c9c9c9;
}
main {
	margin: 0 auto; /* aligns to the right margin */
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
}
h1 {
	font-size: 2rem;
}
p {
	font-size: 1.5rem;
	line-height: 1.8;
}
.button {
	display: inline-block;
	padding: 0.75rem 2rem;
	font-size: 1rem;
	color: #c9c9c9;
	background-color: #2e5e92;
	border: none;
	border-radius: 0.75rem;
	text-decoration: none;
	box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.button:hover {
	background-color: #24486e;
	box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}
.button:active {
    transform: translateY(0);
}
#hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}
#hero p {
	text-indent: 2rem;
}
#buttons{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 3vh;
	gap: 1rem;
}
#top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 3vh;
	gap: 1rem;
}
nav {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}
nav a {
	text-decoration: none;
	color: #c9c9c9;
	text-align: center;
	padding: 1rem 0.4rem; /* forms the box shape around the link text */
	font-size: 1.5rem;
}
footer {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0.5rem 1rem;
}
@media (min-width: 600px) {
	nav {
		justify-content: flex-end;
	}
	nav a {
		padding: 10px 12px;
		font-size: 16pt;
	}
}
