a {text-decoration: none; color: white}
body {background-color: #0b2240}
#div1 {font-size: 24pt; color: white; text-align: right}
form {color: white}
#div2 {display: flex; justify-content: center; align-items: center; font-size: 24pt}
#div2 input {font-size: 24pt}
#div2 textarea {font-size: 24pt}
textarea {resize: none; color: black}
label::after {content: "*"; color: red}
