html {
	scroll-behavior: smooth;
}
main {
	margin: 0 auto; /* aligns to the right margin */
	min-height: 100vh; /* 100% of viewport height */
	background-color: white;
	max-width: 1200px;
	width: 100%;
}
nav {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	max-width: 1200px;
	width: 100%;
}
nav a {
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 14px 16px; /* forms the box shape around the link text */
	font-size: 18pt;
}
footer {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	width: 100%;
	padding: 20px 0px;
}
@media (min-width: 600px) {
	nav {
		justify-content: flex-end;
	}
	nav a {
		padding: 10px 12px;
		font-size: 16pt;
	}
}